# Extract

In [1]:
import pandas as pd
import numpy as np

In [2]:
usecols = ["name", "tin", "data_n", "stavka", "grup", "data_k",]
data_df = pd.read_csv('reestr_edpod.csv', sep=';')

data_df.head()

C:\Users\Kolyanys\AppData\Local\Temp\ipykernel_12140\1183907073.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv('reestr_edpod.csv', sep=';')

,name,tin,data_n,stavka,grup,vd,data_k,Unnamed: 7
0,"ЮК ""ІВ-ЛЕКС""""",40263798.0,2016-07-01,5.0,3.0,"_69.10, _69.20",NaN,NaN
1,"АУДИТОРСЬКА ФIРМА У ФОРМI ТОВ КООПЕРАТОР-АУДИТ""""",20425227.0,2016-01-01,5.0,3.0,74.12.0,NaN,NaN
2,"МАЛЕ ПІДПРИЄМСТВО ОПАЛЕНИК""""",20444800.0,2016-01-01,5.0,3.0,61.11.0,NaN,NaN
3,"ПРИВАТНЕ ПIДПРИЄМСТВО АВТЕНТИКА""""",32277111.0,2016-01-01,5.0,3.0,51.39.0; 52.12.0; 51.90.0; 15.41.0,NaN,NaN
4,"ПРИВАТНЕ ПІДПРИЄМСТВО ПКФ СПЕЦСЕРВИС""""",31586354.0,2016-01-01,5.0,3.0,_41.20|_43.21|_43.29|_46.11|_46.90,NaN,NaN

In [3]:
print(data_df.columns)
print(data_df.dtypes)

Index(['name', 'tin', 'data_n', 'stavka', 'grup', 'vd', 'data_k',
       'Unnamed: 7'],
      dtype='object')
name           object
tin            object
data_n         object
stavka        float64
grup          float64
vd             object
data_k         object
Unnamed: 7    float64
dtype: object

# Transform

In [27]:
print(data_df.duplicated().sum())
data_df.drop_duplicates(inplace=True)
print(data_df.duplicated().sum())

7884
0

In [4]:
data_df['tin'].map(type).unique()

array([<class 'float'>, <class 'str'>], dtype=object)

In [6]:
data_df.loc[363729]

name          Д. В. І.";33096831;2016-01-01;5;3;_47.89"
tin                                          2019-09-30
data_n                                              NaN
stavka                                              NaN
grup                                                NaN
vd                                                  NaN
data_k                                              NaN
Unnamed: 7                                          NaN
Name: 363729, dtype: object

In [5]:
for i,j in enumerate(data_df['tin']):
    if type(j) == str and len(j)==10:
        print(i,j)

363729 2019-09-30
1057186 2019-07-01
1057187 2019-06-30
1057191 2019-01-01
1085849 2019-03-31
1338945 2019-07-01
1354512 2019-06-30
1355047 2019-01-01
1355062 2019-01-01
1355076 2019-01-01
1355085 2019-03-31
1355087 2019-04-01
1355120 2019-01-01
1355130 2019-04-01
1439784 2019-03-31
1439803 2019-10-01

In [31]:
data_df['name'] = data_df['name'].astype(str)
data_df['tin'] = data_df['tin'].astype(np.float32)
data_df['data_n'] = pd.to_datetime(data_df['data_n'], format="%Y-%m-%d",errors="ignore")
data_df['data_k'] = pd.to_datetime(data_df['data_k'], format="%Y-%m-%d",errors="ignore")
print(data_df.dtypes)

ValueError: could not convert string to float: '"'